.board{
  display:flex;
  flex-direction:column;

}
.row{
  display:flex;
}
.App{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  width:100vw;
  margin:auto;
  text-align:center;
  background:black;
  color:white;
}
.letter {
  width:30px;
  height:30px;
  
  padding:10px;
  margin:10p;
  border:2px solid rgb(255, 255, 255);
}